*.RData
*/*.RData
all_specific.RData
.DS_Store
*.Rhistory
Complex_dynamics/Complex_model/Native/Mesocosmdata.xls
*.synctex.gz
*.synctex
*.out
*.sbat
*.tex
*/*.tex
*.log
*.toc
*/cache
*/*/cache
*.out
.Rproj.user
Daphnia.Rproj
