*.RData
*/*.RData
.DS_Store
*.Rhistory
*.synctex.gz
*.synctex
*.out
*.txt
*.sbat
*/ms.tex
*/si.tex
*.log
*.toc
*/cache
*/*/cache
*.out
*.Rout
*.bbl
*.blg
figure
*.aux
*.blg
.Rproj.user
Daphnia.Rproj
*.txt
*.Rapp.history
*.e*
*.o*
*.pe*
*.po*

# core dumps
core
core.*
**/core
**/core.*

# private repo placed within public repo
Daphnia-paper-review

# track bootstrap LRT command files
!**/bootstrap_lrt/commands*.txt
